.framed-image {
    border-radius: 30px; // הגדרת רדיוס עבור פינות עגולות
    border: 4px solid #bebebe ; // הגדרת מסגרת בצבע אפור עם רוחב של 4 פיקסלים
    padding: 5px; // מרווח מסביב לתמונה
    width: 80%; // קביעת רוחב קטן יותר לתמונה
    max-width: 500px; // קביעת רוחב מקסימלי כדי להגביל את הגודל המקסימלי
    height: auto; // שמירה על יחס הגובה-רוחב המקורי של התמונה
  }
  
  .ingredient-icon {
    border-radius: 50%; // הגדרת רדיוס עגול כדי ליצור איורים עם פינות עגולות
    border: 2px solid #ccc; // הגדרת מסגרת בצבע אפור עם רוחב של 2 פיקסלים
    padding: 1px; // מרווח מסביב לאיור
    width: 42px; // קביעת רוחב קטן יותר לאיורים
    height: 35px; // קביעת גובה קטן יותר לאיורים
    margin-right: 15px; // הוספת מרווח בין האיור לטקסט
  }
  
  /* עיצובים לטקסט */
  h1, h2 {
    font-family: 'Open Sans', sans-serif; // הגדרת גופן כללי
    font-weight: bold; // הדגשת הטקסט
    color: #333; // צבע כהה לטקסט
    text-transform: uppercase; // הפיכת הטקסט לאותיות גדולות
    letter-spacing: 1.5px; // מרווח בין האותיות
    margin-bottom: 10px; // מרווח תחתון לכותרות
  }
  
  h1 {
    font-size: 2em; // גודל גופן גדול יותר לכותרת ראשית
  }
  
  h2 {
    font-size: 1.5em; // גודל גופן קטן יותר לכותרת משנית
  }
  
  p {
    font-family: 'Open Sans', sans-serif; // הגדרת גופן כללי
    color: #555; // צבע בינוני לפסקאות
    line-height: 1.6; // מרווח בין השורות לפסקאות
    margin-bottom: 15px; // מרווח תחתון לפסקאות
  }
  
  /* עיצובים למרכיבי הרשימה */
  mat-list-item {
    font-family: 'Open Sans', sans-serif; // הגדרת גופן כללי
    color: #444; // צבע כהה לפריטים ברשימה
    font-size: 1em; // גודל גופן לפריטים ברשימה
    margin-bottom: 10px; // מרווח תחתון לפריטים ברשימה
  }
  
  /* עיצוב המסגרת של mat-card */
  mat-card {
    border: 3.5px solid #b4b3b3 ; // הגדרת מסגרת בעובי של 4 פיקסלים בצבע כהה
    border-radius: 5px; // הגדרת רדיוס פינות כדי להפוך את המסגרת לעגולה יותר
    box-shadow: 0 4px 8px rgb(122, 122, 122); // הוספת צל כדי להדגיש את המסגרת
  }