<link rel="stylesheet" href="small-recipe.component.scss">
<div class="small-recipe">
  <img [src]="recipe.imageUrl" alt="{{ recipe.recipeName }}" class="recipe-image">
  <div class="recipe-details">
    <h4>{{ recipe.recipeName }}</h4>
    <p><strong>Preparation Time:</strong> {{ recipe.preparationTimeMinutes }} minutes</p>
    <p><strong>Difficulty:</strong> {{ recipe.difficultyLevel }}/5</p>
     <button class="custom-button" (click)="navigateToDetails(recipe)">For More</button>
  </div>
</div>
